header {
    background: #fcae41;
}

footer {
    background: #65c3d0;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #5b5b5b;
}


/*
light-blue   #ccf1f5
blue         -#81d8e3 #66c3d0 links
dark-orange  #ed4f00
orange       #eb7835
light-orange #fcae41

#fff
#ccf1f5
#dadada border
#95989a
#746e70
#5b5b5b text color
*/

.main-cart .cart-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.main-cart .cart-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

@media (max-width: 575px) {
    .main-cart .cart-title {
        font-size: 1.5rem;
    }
    .main-cart .cart-subtitle {
        font-size: 1.25rem;
    }
}


/* product */

.main-cart .main-cart-block .cart-product-block .cart-product-item {
    position: relative;
    margin-bottom: 25px;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .delete-btn {
    color: #A5A5A5;
    font-size: .75rem;
    width: 100px;
    background: url(../img/trash.svg) left center no-repeat;
    padding-left: 0;
}

@media (max-width: 575px) {
    .main-cart .main-cart-block .cart-product-block .cart-product-item .delete-btn {
        position: absolute;
        right: 15px;
        top: 0;
        color: #A5A5A5;
        width: 20px;
        height: 20px;
        padding: 5px;
    }
    .main-cart .main-cart-block .cart-product-block .cart-product-item .delete-btn span {
        display: none;
    }
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-photo {}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-photo img {
    display: block;
    border: 2px solid #dadada;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-name {
    font-size: 1rem;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-articul {
    color: #939393;
    font-size: 1rem;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-quantity-block {
    display: flex;
    align-items: center;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-quantity-block .quantity {
    font-size: 1.25rem;
    border: none;
    text-align: center;
    width: 100%;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-quantity-block .quantity:focus {
    outline: none;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-quantity-block .quantity-minus {
    width: 17px;
    height: 17px;
    border: none;
    background: url(../img/minus.svg) no-repeat center center;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-quantity-block .quantity-plus {
    width: 17px;
    height: 17px;
    border: none;
    background: url(../img/plus.svg) no-repeat center center;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-price-block {
    text-align: right;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-price-block .price {
    font-size: 1.5rem;
    white-space: nowrap;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-price-block .price-discount {
    color: #A5A5A5;
    font-size: 1rem;
    text-decoration: line-through;
    white-space: nowrap;
}

.main-cart .main-cart-block .cart-product-block .cart-product-item .product-price-block .price-points {
    font-size: 0.75rem;
    white-space: nowrap;
}

@media (max-width: 575px) {
    .main-cart .main-cart-block .cart-product-block .cart-product-item .product-quantity-block {
        margin-top: 20px;
    }
    .main-cart .main-cart-block .cart-product-block .cart-product-item .product-name {
        font-size: 0.875rem;
        padding-right: 20px;
    }
    .main-cart .main-cart-block .cart-product-block .cart-product-item .product-articul {
        font-size: 0.875rem;
    }
    .main-cart .main-cart-block .cart-product-block .cart-product-item .product-quantity-block .quantity {
        font-size: 1rem;
    }
}


/* contacts */

.cart-contacts-block {
    margin-top: 60px;
}

.cart-contacts-block .nav {
    margin-bottom: 20px;
}

.cart-contacts-block .nav .btn {
    color: #939393;
    font-size: 1rem;
    padding: 20px 50px;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.cart-contacts-block .nav .btn:first-child {
    margin-right: 10px;
}

.cart-contacts-block .nav .btn.active {
    color: #5B5B5B;
    border: 2px solid #66C3D0;
}

@media (max-width: 575px) {
    .cart-contacts-block .nav {
        flex-wrap: nowrap;
    }
    .cart-contacts-block .nav .btn {
        font-size: 0.875rem;
        padding: 8px 10px;
    }
}


/* cart form */

.cart-form .form-group label {
    font-size: 1rem;
}

.cart-form .form-group label>span {
    font-size: 0.75rem;
    color: #ccc;
}

.cart-form .form-group .form-control {
    border-color: #dadada;
    border-radius: 0;
}

.cart-form .custom-control-input:checked~.custom-control-label::before {
    border-color: #5B5B5B;
    background-color: #fff;
}

.cart-form .custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.cart-form .custom-checkbox .custom-control-label::before {
    border: #5B5B5B solid 2px;
}

.cart-form .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../img/v.svg);
}

.cart-form .custom-checkbox .custom-control-label::after {
    background: 50%/80% 100% no-repeat;
}

.cart-form .custom-select {
    color: #5B5B5B;
    background: #fff url(../img/select_arrow.svg) right .75rem center/20px 10px no-repeat;
}

.cart-form .btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.cart-form .btn-send {
    color: #fff;
    border-color: #66C3D0;
    background: #66C3D0;
    border-radius: 0;
}

.cart-form .custom-control-label {
    font-size: 0.875rem;
}

.cart-form .custom-control-label a {
    color: #5B5B5B;
    text-decoration: underline;
}

.btn-loyalty {
    color: #fff;
    border-color: #66C3D0;
    background: #66C3D0;
    border-radius: 0;
}

.btn-loyalty:hover {
    color: #fff;
}

@media (max-width: 575px) {
    .cart-form .form-group label {
        font-size: .75rem;
    }
}


/* delivery */

.cart-delivery-block {
    margin-top: 60px;
}

.city-select {
    margin-bottom: 20px;
}

.city-select a {
    color: #66C3D0;
}

.delivery-block .form-check-label {
    display: flex;
    border: 2px solid transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: 10px;
    height: 100%;
}

.delivery-block .form-check-label:hover {
    cursor: pointer;
}

.delivery-block .form-check-label .label-ico {
    padding-right: 10px;
}

.delivery-block .form-check-label .label-text .delivery-name {
    font-size: 1rem;
    font-weight: 700;
}

.delivery-block .form-check-label .label-text .delivery-time {
    font-size: 0.875rem;
}

.delivery-block .form-check-label .label-text .delivery-price {
    font-size: 0.875rem;
}

.delivery-block .form-check-input {
    visibility: hidden;
}

.delivery-block .form-check-label.active {
    border: 2px solid #66C3D0;
}

@media (max-width: 575px) {
    .delivery-block>[class*='col-']:nth-child(odd) {
        padding-right: 5px;
    }
    .delivery-block>[class*='col-']:nth-child(even) {
        padding-left: 5px;
    }
    .delivery-block .form-check-label .label-ico {
        width: 40%;
        padding-right: 5px;
    }
    .delivery-block .form-check-label .label-text .delivery-name {
        font-size: 0.625rem;
    }
    .delivery-block .form-check-label .label-text .delivery-time {
        font-size: 0.625rem;
    }
    .delivery-block .form-check-label .label-text .delivery-price {
        font-size: 0.625rem;
    }
}


/* payment */

.cart-payment-block {
    margin-top: 60px;
}

.payment-block .form-check-label {
    display: flex;
    border: 2px solid transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: 10px;
    height: 100%;
}

.payment-block .form-check-label:hover {
    cursor: pointer;
}

.payment-block .form-check-label .label-ico {
    padding-right: 10px;
}

.payment-block .form-check-label .label-text .payment-name {
    font-size: 1rem;
    font-weight: 700;
}

.payment-block .form-check-label .label-text .payment-text {
    font-size: 0.875rem;
}

.payment-block .form-check-input {
    visibility: hidden;
}

.payment-block .form-check-label.active {
    border: 2px solid #66C3D0;
}

@media (max-width: 575px) {
    .payment-block>[class*='col-']:nth-child(odd) {
        padding-right: 5px;
    }
    .payment-block>[class*='col-']:nth-child(even) {
        padding-left: 5px;
    }
    .payment-block .form-check-label .label-ico {
        width: 60%;
        padding-right: 5px;
    }
    .payment-block .form-check-label .label-text .payment-name {
        font-size: 0.625rem;
    }
    .payment-block .form-check-label .label-text .payment-text {
        font-size: 0.625rem;
    }
}


/* total block */

.main-cart .total-cart-block {
    position: sticky;
    top: 0;
    z-index: 1020;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: 15px 30px;
}

.main-cart .collapse-block .btn-collapse {
    display: inline-block;
    color: #939393;
    border-bottom: .5px dashed #939393;
    font-size: 1rem;
    padding: 0;
    margin-bottom: 10px;
}

.main-cart .collapse-block .btn-collapse.collapsed {
    color: #66C3D0;
    border-bottom: .5px dashed #66C3D0;
}

.main-cart .collapse-block .collapse-padding {
    padding: 20px 0;
}

.main-cart .total-cart-block .total-price-block .total-price {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-cart .total-cart-block .total-price-block .total-price .label {
    font-size: 1rem;
    text-transform: uppercase;
}

.main-cart .total-cart-block .total-price-block .total-price .price {
    font-size: 2rem;
}

.main-cart .total-cart-block .total-price-block .total-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-cart .total-cart-block .total-price-block .total-discount .label {
    font-size: 1rem;
}

.main-cart .total-cart-block .total-price-block .total-discount .price {
    font-size: 1.5rem;
}

.main-cart .total-cart-block .total-price-block .total-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-cart .total-cart-block .total-price-block .total-points .label {
    font-size: 1rem;
}

.main-cart .total-cart-block .total-price-block .total-points .points {
    font-size: 1rem;
}

.main-cart .total-cart-block .confirm-btn {
    color: #fff;
    background-color: #EB7835;
    font-size: 1.5rem;
    border-radius: 0;
    width: 100%;
    margin: 20px 0;
}

@media (max-width: 575px) {
    .main-cart .total-cart-block {
        position: static;
        box-shadow: none;
        padding: 10px 0;
        margin-top: 30px;
    }
}

.mob-price-block .total-discount,
.mob-price-block .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob-price-block .total-price .label {
    font-size: 1rem;
}

.mob-price-block .total-price .price {
    font-size: 1.5rem;
}

.mob-price-block .total-discount .label {
    font-size: 1rem;
}

.mob-price-block .total-discount .price {
    font-size: 1rem;
}